<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Taste DB by Joo Wang Lee and Khoi Le</title>
</head>
<body>
    <header>
        <h1>Home Page</h1>
    </header>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/users.">User Database</a></li>
            <li><a href="/restaurantsDishes">Restaurant and Dishes Database</a></li>
            <li><a href="/restaurantsAddress">Restaurant Addresses Database</a></li>
            <li><a href="/reviews">Reviews Database</a></li>
        </ul>
    </nav>

    <main>
        <section>
            <article>
                <h2>About</h2>
                <p>Welcome to the Taste DB! This platform allows you to explore restaurants, dishes, reviews, and more.</p>
            </article>
        </section>
        
    </main>

    <footer>
        <p>&copy; 2024 Joo Wang Lee and Khoi Le</p>
    </footer>
</body>
</html>
